.nav {
  display: flex;
  gap: 25px;
  padding: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px 0px rgba(173, 164, 173, 0.75);
}

.link {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: #747272;
  font-weight: bold;
  transition: 250ms all;
}

.link:hover {
  transform: scale(1.05);
}

.link:global(.active) {
  color: #0770f1;
}
